body {
    text-align: center;
     color: black;
    font-size: 30px;
    background-color: chocolate;
     font-weight: 500;
      
}

.menu {
    font-family: fantasy;
    position: fixed;
    margin-top: 0px;
    z-index: :10;
    cursor: pointer;
    width: 100%;
    background: white;
}

.links {
    float: left;
    color: purple;
    padding-top: 10px;
    padding-left: 33px;
    padding-right: 25px;
    padding-bottom: 10px;
    font-family: fantasy;
    font-size: 30px;
    display: inline;
}

.links:hover {
    background-color: red;
}

html {
 scroll-behavior: smooth;
}
